doctype html
html
  head
    title Grid 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    h1 Grid Page

    p Query rows: #{query.rows}, Query cols: #{query.cols}

    -
      let rows = Number(query.rows);
      let cols = Number(query.cols);

    if (!Number.isInteger(rows) || !Number.isInteger(cols))
      p Invalid input: rows and cols must be integers.
    else if (rows < 3 || rows > 13)
      p Invalid input: rows must be between 3 and 13.
    else if (cols < 3 || cols > 13)
      p Invalid input: cols must be between 3 and 13.
    else

      table#outer.container-fluid
        - for (let i = 0; i < rows; i++) {
          tr#middle.row
            - for (let j = 0; j < cols; j++) {
              
              td.col-sm-1= i * i + j
            - }
        - }