doctype html
html
  head
    title Sculptures search results
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    h1 Sculptures search results

    .container-fluid
      .row
        //- Iterate through each item in the results array passed from the server
        each item, index in results
          .col-sm-2
            h2 #{item.Sculptures_name}
            p height: #{item.Sculptures_height}cm
            p material: #{item.Sculptures_material}
