doctype html
html
  head
    title Sculptures Search Results
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    h1 Sculptures Search Results

    .container-fluid
      .row
        
        - 
          const results = [
            { sculptures_name: "The Thinker", sculptures_height: 182, material: "Bronze" },
            { sculptures_name: "Venus de Milo", sculptures_height : 203, material: "Marble" },
            { sculptures_name: "David", sculptures_height: 517, material: "Marble" }
          ]
        
        each item, index in results
          .col-sm-2
            h2 #{item.sculptures_name}
            p Height : #{item.sculptures_height} years
            p Material: #{item.material}
            
